.default-link {
  color: #00AE1C;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;

  &--disabled {
    color: #575D58;
  }

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: #0CD52B;
  }
}