.container {
  width: 294px;
  background: white;
  box-shadow: 0px 16px 50px rgba(0, 0, 0, 0.24);
  border-radius: 8px;
  padding: 14px 8px 16px;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  color: #323749;
}

.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}

.item-title {
  font-size: 10px;
  font-weight: 700;
}