.container {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  line-height: 1;
  color: #323749;
}

.title {
  font-size: 10px;
  font-weight: 700;
}

.text {
  font-size: 15px;
  font-weight: 400;
  margin-top: 7px;
  margin-bottom: 13px;
}

.underline {
  width: 100%;
  height: 1px;
  background-color: #737373;
}

.textarea {
  font-size: 15px;
  font-weight: 400;
  margin-top: 7px;
  margin-bottom: 13px;
  width: 100%;
  overflow-wrap: break-word;
  outline: none;            
  field-sizing: content;
  overflow: hidden;
}