.container {
  display: flex;
  flex-direction: column;
  color: #323749;
  line-height: 1;
  font-weight: 400;
  position: relative;

  &--time {
    font-family: 'Inter', sans-serif;
    width: 88px;
  }

  &--weekday {
    font-family: 'Roboto', sans-serif;
    width: 80px;
  }
}

.title {
  font-weight: 700;
  font-size: 10px;
  margin-bottom: 7px;
}

// .dropdown {
//   position: relative;

//   &--time {
//     width: 88px;
//   }

//   &--weekday {
//     width: 80px;
//   }
// }

.list {
  position: absolute;
  width: 100%;
  max-height: 180px;
  background-color: white;
  border: 1px solid #DEE0E5 ;
  border-radius: 8px;
  overflow-x: hidden;
  overflow-y: auto;
  top: calc(100% + 2px);
  z-index: 2;
  box-shadow: 0px 8px 16px rgba(49, 49, 49, 0.10);

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #DEDFE5;
    height: 20px;
    border-radius: 3px;
    margin-right: 4px;
  }
}

.item {
  height: 36px;
  padding-top: 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.15s ease;
  align-items: center;
  font-size: 15px;

  &:hover {
    background-color: #F6F6F6;
  }

  &:active {
    background-color: #E3E3E3;
  }
}