.container {
  display: flex;
  gap: 8px;
  align-items: center;
  color: black;
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1;
}

.checkbox-to-hide {
  position: absolute;
  opacity: 0;
}

.checkbox-to-display {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  -webkit-mask: url(../icons/checkbox-icon.svg) center/contain no-repeat;
  mask: url(../icons/checkbox-icon.svg) center/contain no-repeat;
}

.checkbox-to-hide:checked + .checkbox-to-display {
  -webkit-mask: url(../icons/checkbox-checked-icon.svg) center/contain no-repeat;
  mask: url(../icons/checkbox-checked-icon.svg) center/contain no-repeat;
}