.container {
  display: flex;
  gap: 8px;
  align-items: center;
  color: black;
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1;
}

.checkbox-to-hide {
  position: absolute;
  opacity: 0;
}

.checkbox-to-display {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  vertical-align: middle;
  background-image: url(../icons/checkbox-icon.svg);
}

.checkbox-to-hide:checked + .checkbox-to-display {
  background-image: url(../icons/checkbox-checked-icon.svg);
}