.container {
  background-color: white;
  box-shadow: 0px 16px 50px rgba(0, 0, 0, 0.24);
  border-radius: 8px;
  padding: 16px 16px 48px 16px;
  font-family: 'Inter', sans-serif;
  color: #323749;
  display: flex;
  flex-direction: column;
  gap: 16px;
  line-height: 1;
}

.title {
  font-size: 24px;
  font-weight: 700;
}

.separation-line {
  // width: 100%;
  height: 1px;
  background-color: #DEDFE5;
}

.text-container {
  display: inline;
  font-weight: 400;
  font-size: 16px;
}