.container {
  width: 240px;
  height: 284px;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
  border-radius: 8px;
  padding: 14px 8px 16px;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  color: #323749;
  gap: 15px;
}

.title {
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
}

.days {
  font-size: 12px;
  font-weight: 700;
  width: 100%;
  display: flex;
  gap: 9px;
}

.day {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.numbers {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  font-size: 12px;
  font-weight: 400;
}

.number {
  width: 24px;
  height: 24px;
  display: flex;
  border-radius: 8px;
  background-color: white;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  position: relative;

  &:hover {
    background-color: #E0E0E0;
  }

  &--active {
    background-color: #00AE1C;
    color: white;
    font-weight: 700;

    &:hover {
      background-color: #00AE1C;
    }

    &.number--other-month {
      background-color: #00ae1d52;
    }
  }

  &--other-month {
    color: rgba(50, 55, 73, 0.2);
  }
}