.field-title {
  color: #243573;
  font-size: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.field-input {
  color: #243573;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 3px;
  margin-bottom: 6px;
  width: 100%;

  &::placeholder {
    color: rgba(36, 53, 115, 0.8);
    line-height: 1;
  }

  &:focus {
    outline: none;
  }
}

.field-underline {
  width: 100%;
  height: 1px;
  background-color: #243573;

  &--error {
   background-color: #FF5620;
  }
}

.error-message {
  color: #FF5620;
  font-size: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 2px;
}