.primary {
  background: #00AE1C;
  border: 1px solid transparent;
  color: white;
   
  &--disabled {
    background-color: #187727;
    color: #B9B9B9;
  }

  &:hover {
    background-color: #00AE1C;
    border-color: #5CE171;
  }

  &:active {
    background-color: #5CE171;
  }
}

.secondary {
  background: white;
  border: 1px solid #DEDFE5 ;
  color: #323749;

  &--disabled {
    background-color: #C8C8C8;
    color: #737373;
  }

  &:hover {
    background-color: #EFEFEF;
    box-shadow: 0px 1px 2px rgba(69, 69, 69, 0.25);
  }

  &:active {
    background: #E0E0E0;
  }
}

.primary, .secondary {
  height: 36px;
  padding: 12px 10px 12px 10px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.dropdown-weekday, .dropdown-time {
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

.dropdown-weekday {
  height: 36px;
  border: 1px solid #DEDFE5;
  border-radius: 8px;
  justify-content: center;
  gap: 4px;
  
  &:hover {
    background-color: #EFEFEF;
  }

  &--active {
    background-color: #DEDFE5;

    &:hover {
      background-color: #DEDFE5;
    }
  }
}

.dropdown-time {
  height: 30px;
  border-bottom: 1px solid #323749;
}
