.container {
  width: 240px;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
  border-radius: 8px;
  padding: 14px 8px 16px;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  color: #323749;
  gap: 17px;
}

.title {
  color: #323749;
  font-size: 15px;
  font-weight: 700;
}