.header {
  width: 100%;
  height: 80px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}

.date {
  color: #323749;
  font-size: 17px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 1;
  margin-top: 3px;
}